CERTIFICATE_HOSTNAME="open-data-certificate.dev"

GAPPS_USER_EMAIL="GAPPS_USER_EMAIL"
GAPPS_PASSWORD="GAPPS_PASSWORD"
GAPPS_CERTIFICATE_USAGE_COLLECTION="ODI Drive/Technical/Test Data/Usage Data"

RECAPTCHA_SITE_KEY='6Lc6BAAAAAAAAChqRbQZcn_yyyyyyyyyyyyyyyyy'
RECAPTCHA_SECRET_KEY='6Lc6BAAAAAAAAKN3DRm6VA_xxxxxxxxxxxxxxxxx'