.modal.modal-wide.hide.fade.claim-certificate{:id => "claim-#{certificate.id}"}
  .modal-header
    %button.close{:type => :button, 'data-dismiss' => :modal, 'aria-hidden' => true} &times;
    %h3
      .icon-cog
      =t(".claim_heading")
  .modal-body
    %p=t(".certificate_award")
    %p=t(".explanation")
    %ul
      %li=t(".explanation_open")
      %li=t(".explanation_improve")
      %li=t(".explanation_badge")
    %p=t(".claim_certificate")
    = form_for Claim.new(dataset: certificate.dataset) do |f|
      = f.hidden_field :dataset_id
      = f.submit t(".send_request"), class: 'btn btn-primary'
