/ Down the line, this will support the dashboard view too
- dataset = dataset_min

.dataset{class: defined?(expanded) ? 'expanded': ''}
  .row
    .span6
      .level-badge{class: "level-badge-#{dataset.certificate.attained_level}"}
      %h3.badge-align
        = link_to dataset.title, dataset
    .span4
      .details
        =detail_item('Published By') { dataset.certificate.curator }
        =detail_item('Issued') { time_ago_in_words(dataset.updated_at) << ' ago'}
    .span2
      .expand
        %i.show-more.icon-chevron-down
        %i.hide-more.icon-chevron-up
      .jurisdiction
        .badge
          = dataset.response_set.jurisdiction
        %span.status
          = dataset.response_set.survey.try(:status)

  .more
    %hr
    .row
      .span3
        %h3 Summary

        =detail_item('Type of release:') { dataset.response_set.release_type_determined_from_responses }
        =detail_item('Data Licence:')    { dataset.response_set.data_licence_determined_from_responses[:title] }
        =detail_item('Content Licence:') { dataset.response_set.content_licence_determined_from_responses[:title] }

      .span9
        %h3 Description

        %p
          =dataset.response_set.kitten_data.data[:description] rescue ''

        %p
          =link_to 'view certificate', [dataset, dataset.certificate], class: 'btn btn-large btn-info'



%hr.heavy