%table
  - if response_set = response_sets.shift
    =render partial: 'datasets/response_set_row', locals: {response_set: response_set, first_response_set: true}
  -if response_sets.any?
    %tr
      %th.previous-title{colspan: 6}= t('dashboard.previous_versions')
    - response_sets.each do |response_set|
      =render partial: 'datasets/response_set_row', locals: {response_set: response_set}
