- content_for :header_title, t('dashboard.page_title')

- if current_user.has_expired_or_expiring_certificates?
  %header.notice{class: 'notice-warning'}
    .container
      %h1
        %i.icon.icon-warning-sign
          Warning
      %p= t('dashboard.expiring_certificates')

= render partial: :dataset, collection: @datasets

:javascript

  $('.edit_questionaire').click(function() {
    btn = $(this)
    btn.text('Loading Questionniare')
    btn.prepend('<i class="icon-loading icon-spin icon-refresh icon-md"></i>')
  })

-if @datasets.blank?
  %p= t("dashboard.no_certificates_to_show")
  = link_to t('menu.create_certificate'), authenticated_start_questionnaire_path, :class => 'btn btn-primary'
