%section
  %h1 Dataset#index
  %h2 my datasets...

  %ul
    = render partial: 'datasets/dataset', collection: @datasets

  %hr
  = form_for Dataset.new do |f|
    = f.submit "Add Dataset", class: 'btn btn-primary btn-large'