- content_for :header_title, t('dashboard.page_title')

= render partial: 'datasets/dataset', collection: current_user.datasets

-if current_user.datasets.blank?
  %p= t("dashboard.no_certificates_yet")
  = link_to t('menu.create_certificate'), authenticated_start_questionnaire_path, :class => 'btn btn-primary'
