- content_for :header_title, t('dashboard.page_title')

- if current_user.datasets.any?
  = render partial: 'datasets/dataset', collection: current_user.datasets
- else
  %p You don't have any certificates yet.
  = form_tag non_authenticated_start_questionnaire_path do
    %button.btn.btn-primary Start a new certificate
