- content_for :header_title, t('certificates.certificates')

- if @certificates.any?
  %dl.unstyled
    = render partial: 'certificates/certificate', collection: @certificates
- else
  %p= t('certificates.no_certificates_found')
