- content_for :header_title, t('datasets.show_title', title: @dataset.title)

- if @certificates.any?
  %dl.unstyled
    = render partial: 'certificates/certificate', collection: @certificates
- else
  %p= t('certificates.no_certificates_found')
