<h1>Dataset#new</h1>
<p>Find me in app/views/dataset/new.html.erb</p>

<section>
   <p class="lead">All open data is good, but some is better than others. This tool gives you a certificate
      that will help people understand the open data you are publishing.
   </p>
   <div class="accordion" id="main-help-accordion">
      <div class="accordion-group">
         <div class="accordion-heading"><a href="#main-help" class="accordion-toggle" data-parent="#main-help-accordion" data-toggle="collapse">Help</a></div>
         <div id="main-help" class="accordion-body collapse in">
            <div class="accordion-inner">
               <div class="row-fluid">
                  <div class="span6">
                     <p>Questions marked with a label must be answered to gain that level of the certificate.</p>
                  </div>
                  <div class="span6">
                     <p>Click on question marks <i class="icon-question-sign"></i> or labels to findout more about what to enter.
                                              
                     </p>
                  </div>
               </div>
               <div class="row-fluid">
                  <div class="span12 improvements">
                      <div class="improvement"><span class="improvement-label"><span class="label label-info"><i class="icon-star icon-white"></i> Basic</span></span><span class=improvement-desc">This data satisfies the fundamental requirements for open data.</span></div>
                      <div class="improvement"><span class="improvement-label"><span class="label label-pilot"><i class="icon-star icon-white"></i> Pilot</span></span><span class=improvement-desc">This data satisfies the requirements for initial forays into publishing open data.
                           It provides sufficient support to prompt some reuser experimentation with a data.</span></div>
                      <div class="improvement"><span class="improvement-label"><span class="label label-standard"><i class="icon-star icon-white"></i> Standard</span></span><span clas="improvement-desc">This data satisfies the requirements for routinely published open data that encourages
                           reuse.</span></div>
                      <div class="improvement"><span class="improvement-label"><span class="label label-exemplar"><i class="icon-star icon-white"></i> Exemplar</span></span><span clas="improvement-desc">This data satisfies the requirements for key information infrastructure.</span></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



