.hidden
  #required-basic!= t('requirement_label.requirement')
  #required-pilot!= t('requirement_label.requirement_pilot')
  #required-standard!= t('requirement_label.requirement_standard')
  #required-exemplar!= t('requirement_label.requirement_exemplar')