:javascript
  $(function(){
    $('#status_panel').on('update', function(){
      var levels = ['basic', 'pilot', 'standard', 'exemplar'];
      var requirements = {};
      $.each(levels, function(i, level){
        requirements[level] = { required: 0, complete: 0 };
      });

      // mandatory fields count as a basic requirement
      var $mandatory = $('fieldset.question-row.mandatory:not(.q_hidden)'),
          $mandatoryComplete = $mandatory.filter(function(){
            var $inputs = $('li:not(.quiet)', this).find('input, select');
            return (($inputs.length === 1 && $inputs.val() !== '') || $inputs.is(':checked'))
          });

      requirements.basic.required += $mandatory.size();
      requirements.basic.complete += $mandatoryComplete.size();

      $.each(levels,function(i, level){
        $('.requirement_' + level).each(function(){
          requirements[level].required += $(this).size();
          requirements[level].complete += $(this).filter('.q_hidden').size();
        });
      });

      // update the bars
      $.each(requirements, function(level, totals) {
        window.console && console.log('setting ' + level + ': ' + totals.complete + ' / ' + totals.required);
        $('#bar-' + level).width((totals.required === 0 ? '0' : 100*(totals.complete/totals.required)) + '%');
      });

      // first incomplete is our target
      var completed = 'none';
      for (var i = 0; i < levels.length; i++) {
        var level = levels[i], r = requirements[level];
        if(r.required === r.complete){
          completed = level;
        } else {
          break;
        }
      };

      $('.status_texts dt').filter(function(){return $(this).text() == completed})
        // display the dd
        .next().addClass('active')

        // hide any others
        .siblings().removeClass('active');


    })
  })

#status_panel
  #panel_handle
  %dl.status_texts
    %dt none
    %dd.active You are working towards <strong>Raw</strong> level of open data.
    %dt basic
    %dd You've achieved a <strong>Raw</strong> level of open data, and are now working towards <strong>Pilot</strong> level.
    %dt pilot
    %dd You've achieved a <strong>Pilot</strong> level of open data, and are now working towards <strong>Standard</strong> level.
    %dt standard
    %dd You've achieved a <strong>Standard</strong> level of open data, and are now working towards <strong>Expert</strong> level.
    %dt exemplar
    %dd You've achieved a <strong>Expert</strong> level of open data.

  %hr
  %h3 Raw 
  .progress.progress-striped.progress-info
    .bar#bar-basic

  %hr
  %h3 Pilot
  = image_tag "badges/status-indicators/pilot.png"
  .progress.progress-striped.progress-warning
    .bar#bar-pilot
 
  %hr
  %h3 Standard
  = image_tag "badges/status-indicators/standard.png"
  .progress.progress-striped.progress-success
    .bar#bar-standard

  %hr
  %h3 Expert
  = image_tag "badges/status-indicators/expert.png"
  .progress.progress-striped.progress-danger
    .bar#bar-exemplar
  %hr
  %p 
  =link_to 'How can I improve my open data?', surveyor.view_my_survey_requirements_path(:response_set_code => @response_set.access_code)