#status_panel
  #panel_handle
  %dl.status_texts
    %dt none
    %dd.active You are working towards <strong>Raw</strong> level of open data.
    %dt basic
    %dd You've achieved a <strong>Raw</strong> level of open data, and are now working towards <strong>Pilot</strong> level.
    %dt pilot
    %dd You've achieved a <strong>Pilot</strong> level of open data, and are now working towards <strong>Standard</strong> level.
    %dt standard
    %dd You've achieved a <strong>Standard</strong> level of open data, and are now working towards <strong>Expert</strong> level.
    %dt exemplar
    %dd You've achieved a <strong>Expert</strong> level of open data.

  %hr
  %h3 Raw 
  .progress.progress-striped.progress-info
    .bar#bar-basic

  %hr
  %h3 Pilot
  = image_tag "badges/status-indicators/pilot.png"
  .progress.progress-striped.progress-warning
    .bar#bar-pilot
 
  %hr
  %h3 Standard
  = image_tag "badges/status-indicators/standard.png"
  .progress.progress-striped.progress-success
    .bar#bar-standard

  %hr
  %h3 Expert
  = image_tag "badges/status-indicators/expert.png"
  .progress.progress-striped.progress-danger
    .bar#bar-exemplar
  %hr
  %p 
  =link_to 'How can I improve my open data?', surveyor.view_my_survey_requirements_path(:response_set_code => @response_set.access_code)