:javascript
  $(function(){
    $('#status_panel').on('update', function(){
      var requirements = {};
      $.each(['basic', 'pilot', 'standard', 'exemplar'], function(i, level){
        requirements[level] = { required: 0, complete: 0 };
      });
      $('fieldset.question-row:not(.q_hidden)')
        .each(function() {
          var $question = $(this),
              $inputs = $question.find('li:not(.quiet) input, li:not(.quiet) select'),
              $requirements = $question.closest('li.container').find('fieldset.q_label');
          if ($question.is('.mandatory')) {
            requirements.basic.required++;
            if (($inputs.length === 1 && $inputs.val() !== '') || $inputs.is(':checked')) {
              requirements.basic.complete++;
            }
          }
          if ($requirements.is('.requirement_basic')) {
            requirements.pilot.required++;
            if (!$requirements.is(':not(.q_hidden)')) requirements.basic.complete++;
          }
          if ($requirements.is('.requirement_pilot')) {
            requirements.pilot.required++;
            if (!$requirements.is(':not(.q_hidden)')) requirements.pilot.complete++;
          }
          if ($requirements.is('.requirement_standard')) {
            requirements.standard.required++;
            if (!$requirements.is(':not(.q_hidden)')) requirements.standard.complete++;
          }
          if ($requirements.is('.requirement_exemplar')) {
            requirements.exemplar.required++;
            if (!$requirements.is(':not(.q_hidden)')) requirements.exemplar.complete++;
          }
        });
      $.each(requirements, function(level, totals) {
        console.log('setting ' + level + ': ' + totals.complete + ' / ' + totals.required);
        $('#bar-' + level).width((totals.required === 0 ? '0' : 100*(totals.complete/totals.required)) + '%');
      });

    })
  })

#status_panel
  #panel_handle
  %h1= @response_set.access_code
  %p You've achieved a <strong>Raw</strong> level of open data, and are now working towards <strong>Standard</strong> level.
  %hr
  %h3 Raw 
  .progress.progress-striped.progress-info
    .bar#bar-basic

  %hr
  %h3 Pilot
  = image_tag "badges/status-indicators/pilot.png"
  .progress.progress-striped.progress-warning
    .bar#bar-pilot
 
  %hr
  %h3 Standard
  = image_tag "badges/status-indicators/standard.png"
  .progress.progress-striped.progress-success
    .bar#bar-standard

  %hr
  %h3 Expert
  = image_tag "badges/status-indicators/expert.png"
  .progress.progress-striped.progress-danger
    .bar#bar-exemplar
  %hr
  %p 
  =link_to 'How can I improve my open data?', surveyor.view_my_survey_requirements_path(:response_set_code => @response_set.access_code)