# This looks relatively convoluted because CERTIFICATE_HOSTNAME used to contain a commandline call to get the IP address
# default docker VM. Since latest versions of docker on mac no longer require the 'default' VM we can use localhost (i think!).
# I've left the "echo" version in place, just in case we discover the docker networking turn out to be more involved that I thought.

echo "export REDIS_URL=\"redis://redis:6379\""
# This is the only place where the external port has to be hard coded
#echo "export CERTIFICATE_HOSTNAME=\"$(docker-machine ip default):3000\""
#echo "export CERTIFICATE_HOSTNAME=\"localhost:3000\""
# mailer config for confirmation emails
export CERTS_SMTP_ADDRESS="smtp.gmail.com"
export CERTS_SMTP_PORT=587
export CERTS_SMTP_USERNAME="no-reply.certificates@theodi.org"
export CERTS_SMTP_PASSWORD="xxxxxxxxxxxxxx"
