%div.certificate-data
  - response_set.survey.sections.each do |section|
    - questions = section.questions_for_certificate response_set
    - responses = response_set.responses_for_questions questions
    - if responses.any?
      %hr.heavy
      - if section.title != 'General'
        %h3= section.title
      %ul
        - responses.each do |response|
          %li
            %h4= response.question.statement_text
            %p= response.statement_text.capitalize
