%div.certificate-data
  - response_set.survey.sections.each do |section|
    - questions = section.questions_for_certificate response_set
    - responses = response_set.responses_for_questions questions
    - if responses.any?
      %hr.heavy
      %h3= section.title
      %ul
        - responses.each do |response|
          - response_text = response.statement_text
          - if (response_text != '')
            %li
              %h4= response.question.statement_text
              %p
                - if (response.answer.input_type == 'url')
                  = link_to(response_text, response_text, :title => response_text, :class => 'cropped')
                - else
                  = response_text
  %hr.heavy
