=div_for response_set do
  - response_set.survey.sections.each do |section|
    - responses = section.responses_for_certificate(response_set)
    - if responses.any?
      %hr
      %h2= section.title
      %dl.dl-horizontal
        - section.responses_for_certificate(response_set).each do |response|
          %dt= response.question.text_as_statement || response.question.text
          %dd= response.to_formatted_s
