- if flash.any?
  .container
    - flash.each do |type, value|
      - if value.kind_of? Array
        - value.each do |flash|
          = render :partial => 'shared/flash', :locals => { :type => type, :flash => flash }
      - else
        = render :partial => 'shared/flash', :locals => { :type => type, :flash => value }