- if kitten_data && kitten_data.data

  %dl
    - kitten_data.data.each do |key, v|

      - value = kitten_value(v)

      / skip if we have the same title as the certificate
      - next if key == :title && defined?(@certificate) && @certificate.response_set.try(:title) == value

      / don't show distributions for now
      - next if key == :distributions
      
      -unless value.blank?

        %dt= t key, scope: :data_kitten

        %dd!= value
