- content_for(:body_class) {'odi-bleed'}

- content_for(:super_head) do
  #padd{style: 'height:500px;'}
    .container
      .row
        .span4.offset8
          %h1 Open data certificate
          %h2 Specifying what good open data looks like
          = form_tag non_authenticated_start_questionnaire_path do
            %button.btn.btn-large.btn-primary Start a new certificate
          %a.btn.btn-large.btn-info{href: certificates_path} Browse all new certificates

- content_for(:header) do
  #empty

  %header.home
    .container
      .row
        .span12
          %h1 Here's how it works
      .row
        .span4
          %h2 1 <small> Fill out the questionnaire </small>
          %p We will ask you a series of questions about your data to find out whether it is open. We will ask you a series of questions about your data to find out whether it is open.
          = form_tag non_authenticated_start_questionnaire_path do
            %button.btn.btn-large.btn-primary Start a new certificate

        .span4
          %h2 2 <small> Generate a certificate</small>
          %p We will assess your level of open data and generate a certificate which will be added to our archives certificate which will be added to our archives.
        .span4.last
          %h2 3 <small> Share your open data</small>
          %p You can embed your certificate on your website or link to the archive using one of our custom badges  the archive using one of our custom badges.
.container.main
  .row
    .span6
      <iframe width="560" height="315" src="http://www.youtube.com/embed/MRZE6X-ZG6Q" frameborder="0" allowfullscreen></iframe>
    .span6
      %h2 About the certificate
      %p We will ask you a series of questions about your data to find out whether it is open. We will ask you a series of questions about your data to find out whether it is open.
      %h2 About the ODI
      %p We will ask you a series of questions about your data to find out whether it is open. We will ask you a series of questions about your data to find out whether it is open.
