- content_for(:body_class) {'odi-bleed'}

- content_for(:super_head) do
  #padd{style: 'height:500px;'}
    .container
      .row
        .span4.offset8
          %h1 Open data certificate
          %h2 Find out what shareable data really looks like
          %p.btn.btn-primary Create a certificate
          %p.btn.btn-info Browse all certificates

- content_for(:header) do
  #empty

  %header.home
    .container
      .row
        .span12
          %h1 Here's how it works
      .row
        .span4
          %h2 1 <small>Publish your data</small>
          %p Good news! You’ve already done this bit (or you’re about to). Now let’s make your data easier for people to find, use and share.

        .span4
          %h2 2 <small>Check it with our questionnaire</small>
          %p Our helpful questions act like a checklist. They explain your options about how to publish good open data and give you clear and recognised targets to aim for.
        .span4.last
          %h2 3 <small>Share it with a certificate</small>
          %p Your answers determine which of our four prestigious certificates you generate. Each one means success in a unique way and proves you’re a leader in open data.

.container.home-header-buttons
  .row
    .span4
      %p.btn.btn-primary Start a new certificate
    .span4
    .span4
      %p.btn.btn-primary Browse certificates

.container.main
  .row
    .span6
      %iframe{width: 560, height: 315, src: 'http://www.youtube.com/embed/MRZE6X-ZG6Q', frameborder: 0, allowfullscreen: 'allowfullscreen'}
    .span6
      %h2 What does a certificate look like?
      %p It’s an impressive badge that links to a page describing the characteristics of some data. Like how often it’s updated, what format it’s in and where it lives.
      %h2 Who are the ODI?
      %p We’re the <a href="http://www.theodi.org">Open Data Institute</a>. We unlock supply and demand for open data and communicate its value to people so they can change the world with it. This is one of the ways we do that.
