- content_for :header_title do
  Application Status

%h1
  Job queue

%p
  %strong= pluralize @job_count, 'jobs'
  queued

%hr.heavy

%h1
  Certificate Counts

%ul
  -@counts.each do |k,count|
    %li
      %strong= k
      = count

%hr.heavy

%p.data
  Get historic data as 
  =alternate_link_buttons(:class => 'badge')
