- content_for :header_title, t("about.heading_about")

.container.about
  .span8
    %h1 Just one thing before we begin... <strong>congratulations</strong>! You publish data or you’re interested in using it. 

    %h2 So let’s celebrate, because when people have better access to open data, they can make insightful decisions and innovate to improve society, their environment and change the world with their ideas. That’s what we aim for in <a href="http://www.theodi.org/about">our mission</a>.

    %h3 What does ‘better access’ mean? 
    
    %p It begins when data owners check their open data against our helpful questionnaire. As you go through one you’ll understand how to: 

    %ul
      %li explain what your open data is about to people
      %li improve quality with other people’s help
      %li respect people’s privacy and rights
      %li build communities of interested people
      %li serve open data that people can depend upon

    %p Our questionnaire gives data owners practical steps to open up data to more people who help put it to more effective use in new applications, systems and technology. These become new solutions to the world’s problems.

    %p Each answer to a question affects which open data certificate is generated at the end. The best part is that you don’t even have to answer every question. Just skip the ones you’re not ready to answer or think about how to make improvements so you can answer them.

    %p For example, answer only questions marked ‘Pilot’ and you gain yourself an impressive Pilot open data certificate. Next you publish your open data certificate along with your open data and proudly say “<em>look at how much effort we put into publishing this</em>” to people who better understand how to use it. 

    %h3 A seal of approval to be proud of

    %p An open data certificate gives data users a head start. It tells them what the data is about and how to get hold of it. And it shares information like availability, licensing and privacy issues so they can decide how much to rely on it.

    %p Whether you’re a data owner or a data user, each open data certificate is a landmark achievement and there are four kinds:

    %ul.kitemarks
      %li.kitemark1 <strong>Raw:</strong> A fantastic start at the basics of publishing open data. It takes a lot to even get here.
      %li.kitemark2 <strong>Pilot:</strong> Extra effort went in to support and encourage feedback from people who use this open data.
      %li.kitemark3 <strong>Standard:</strong> Regularly published open data with robust support that people can rely on to build ever more ambitious projects and ventures on top of.
      %li.kitemark4 <strong>Expert:</strong> This is above and beyond what’s expected - a fine example of information infrastructure for everyone else to aspire to.

    %p Open data certificates are like milestones along the way to world-class open data. And the different levels of open data certificate just tell people where you’re up to on that journey, improving what you offer at your own steady pace.

    %p We’ve knowingly set the bar high with our open data certificates so people have something to aim for. No one has achieved an ‘Expert’ open data certificate yet but we’re excited to see who’ll get there first.

    %p Will it be you?
      //= link_to 'open data certificate.'
    %p= new_certificate_link({role: 'button', class: ['btn', 'btn-large', 'btn-primary'], link_text: 'Create an Open Data Certificate'})
