- content_for :header_title, t("about.heading_about")

.container.about
  .span8
    %h1 Just a small matter before we begin... congratulations! You publish data or you’re interested in using it. 

    %h2 That alone is enough cause for celebration because you already believe in sharing data. Even if you read no further we’re halfway to success.

    %p When people have better access to data, they make insightful decisions and innovate to improve society, their environment and change the world with their ideas. That’s what’s behind the ODI’s mission.

    %h3 What does ‘better access’ even mean? 
    It begins when data owners check their data against our helpful questionnaire. As you go through one you’ll understand how to: 

    %ul
      %li improve data quality 
      %li strengthen privacy
      %li comply with legislation 
      %li communicate better with people
      %li get the technical bits right

    %p Our questionnaire gives data owners practical steps to open up data to more users who help put it to more effective use in new applications, systems and technology - new solutions to the world’s problems.

    %p Each answer to a question affects the kind of certificate generated at the end. The best part is that you don’t even have to answer all the questions! Just skip the ones you’re not ready to or think about how to make improvements so you can.

    %p For example, answer only questions marked ‘standard’ and you gain yourself an impressive ‘standard’ certificate to sit proudly alongside your open data that says “aren’t we amazing - look at how much effort we put into publishing our data!” 

    %h3 A seal of approval to be proud of

    %p After data users finish rubbing their eyes in amazement, the open data certificate gives them a head start. It tells them what the data is about and how to get hold of it. And shares information like availability, licensing and privacy issues so they can decide how much to rely on it.

    %p Whether you’re a data owner or a data user, each certificate is a landmark achievement and there are four kinds:

    %ul.kitemarks
      %li.kitemark1 <strong>Raw:</strong> A fantastic start at the basics of publishing open data. It takes a lot to even get here, so well done!
      %li.kitemark2 <strong>Pilot:</strong> Extra effort went in to support and encourage feedback from people who use this open data.
      %li.kitemark3 <strong>Standard:</strong> Open data that’s regularly published in a reliable way and helps people build ever more ambitious projects on top of it.
      %li.kitemark4 <strong>Expert:</strong> Incredible! This is above and beyond what’s expected - a fine example of information infrastructure for everyone else to aspire to.

    %p Open data certificates are like milestones along the way to universal open data. And the different levels of certificate just tell people where you’re up to on that journey, improving what you offer at your own steady pace. We think that a certificate’s real strength comes from association with us at the ODI and our trusted community of members who verify each one.

    %p
      Remember: the very fact that you’re here is worthy of congratulation. So give yourself a big pat on the back before you crack on with your first:
      //= link_to 'open data certificate.'
    %p= new_certificate_link({role: 'button', class: ['btn', 'btn-large', 'btn-primary'], link_text: 'Open Data Certificate'})
