<% content_for :header_title, "Auto-certification" %>
<div class="container about">
  <div class="span8">
    <p>
    Open Data Certificates help to assess and recognise the sustainable
    publication of quality open data to encourage its ongoing re-use.
    Auto-certification makes the process of certifying existing open data faster
    and easier, helping publishers to start the process and focus resources on
    where they can best add value.
    </p>

    <h3>What is it?</h3>

    <p>
    Auto-certification is a free online tool that allows open data publishers
    and portal owners to quickly create large numbers of Open Data Certificates in
    one go. We use existing metadata stored in a data portal to fill in as many
    answers as possible, ensuring that publishers can focus on adding extra
    information not already captured.
    </p>

    <h3>Who is this for?</h3>

    <p>
    Data portal owners and publishers that use the <a href="http://ckan.org/">CKAN</a>
    platform, or publish their datasets in <a href="http://www.w3.org/TR/vocab-dcat/">DCAT</a>,
    and wish to quickly start certifying large quantities of data. Do you want to
    see greater Open Data Certificate support for other platforms, or your custom
    site? <a href="http://theodi.org/contact">Get in touch</a>.
    </p>

    <h3>How does it work?</h3>

    <p>
    Auto-certification automatically fetches the metadata of each dataset (using
    the CKAN API or HTML DCAT tags) and matches the information it receives to the
    certificate questionnaire, creating a new Open Data Certificate per dataset.
    </p>

    <p>
    Any certificate that achieves
    <a href="https://certificates.theodi.org/en/about/badgelevels"><%=t('levels.basic.title_with_level') %></a>
    can be automatically published. Publishers receive a report to identify which
    certificates were created, what is required to achieve the next badge level,
    and links to edit or publish individual certificates.
    </p>

    <p>
    Auto-certification primarily saves time spent filling in existing basic
    information, and does not support certificate levels above <%=t('levels.basic.title') %>. Publishers
    will need to answer additional questions to be awarded higher badge levels.
    </p>

    <h3>What’s next?</h3>

    <p>
    We believe this is an important step in driving the quality and engagement
    within the open data ecosystem as a whole. We’ll start reaching out to portal
    owners over the next few months, but please
    <a href="http://theodi.org/contact">get in touch</a> if you would like
    to be auto-certified sooner.
    </p>
  </div>
</div>
