<% content_for :header_title, t("contact.heading_contact") %>
<div class="container contact">
  <div class="span8">
    <p>Projekt certifikace otevřených dat je momentálně v betaverzi, takže pokud
    narazíte na nějaké chyby či nedostatky, budeme rádi, když nám napíšete.</p>
    <p>Certifikát otevřených dat vznikl ve Spojeném království, jeho
    českou verzi má na starosti <a href="http://motejl.cz">Fond Otakara
    Motejla</a>. Nedostatky můžete hlásit nejlépe přímo na <a href="https://github.com/Motejl/open-data-certificate/issues">GitHubu</a>
    nebo <a href="mailto:michal.tosovsky@motejl.cz">e-mailem</a>.</p>
    <p>Pokud rovnou víte, že se nalezená chyba netýká české lokalizace, ale
    hlavního anglického projektu, můžete ji nahlásit na <a href="https://github.com/theodi/open-data-certificate/issues">GitHubu</a>
    organizace ODI nebo e-mailem na <a href="mailto:certificate@theodi.org">certificate@theodi.org</a>.</p>
  </div>
</div>
