<% content_for :header_title, t("contact.heading_contact") %>
<div class="container contact">
  <div class="span8">
    <p>Please report any bugs or mistakes on: </p>
    <p>
      <%= link_to 'GitHub', 'https://github.com/theodi/open-data-certificate/issues?state=open', :class => ['btn', 'btn-large', 'btn-primary'] %>
    </p>
    <p>or email: </p>
    <p>
      <%= mail_to('certificate@theodi.org', nil, :class => ['btn', 'btn-large', 'btn-primary']) %>
    </p>
    <p>with your questions and suggestions about how to improve open data certificates.</p>
  </div>
</div>
