- content_for :header_title, "Cookie policy"

.container.terms

  .span8

    %p
      Our website uses cookies to distinguish you from other users of our
      website. This helps us to provide you with a good experience when you
      browse our website and also allows us to improve our site. A cookie is a
      small file of letters and numbers that we store on your browser or the hard
      drive of your computer if you agree.

    %p
      Cookies contain information that is
      transferred to your computer’s hard drive. You can find more information
      about the individual cookies we use and the purposes for which we use them
      in the table below:

    %table.table.table-striped
      %thead
        %tr
          %th Name(s)
          %th Type
          %th Purpose
          %th Expires
      %tbody
        %tr
          %td
            %var _open-data-certificate_session
          %td Essential
          %td This cookie is used to maintain your session with the application.
          %td when you exit the browser
        %tr
          %td
            %var _remember_user_token
          %td Functionality
          %td This cookie is used when you check the ‘remember me’ option when signing in, so that you don’t have to sign in every time you visit the site.
          %td 2 weeks
        %tr
          %td
            %var _ga
          %td{rowspan: 6} Google analytics
          %td{rowspan: 6} Google analytics uses this to report site usage
          %td 2 years
        %tr
          %td
            %var _gat
          %td 10 minutes
        %tr
          %td
            %var _utma
          %td 2 years
        %tr
          %td
            %var _utmb
          %td 30 minutes
        %tr
          %td
            %var _utmc
          %td when you exit the browser
        %tr
          %td
            %var _utmz
          %td 6 months
        %tr
          %td
            %var _use_hitbox
          %td{rowspan: 2} YouTube
          %td{rowspan: 2} These cookies are set by YouTube which we use to provide videos on some pages of the site.
          %td when you exit the browser
        %tr
          %td
            %var _VISITOR_INFO1_LIVE
          %td 9 months
        %tr
          %td
            %var _cfduid
          %td CloudFlare
          %td This cookie is used to protect our website from security threats and to boost its performance.
          %td 28 days

    %p
      You can block these cookies by activating the setting on your browser
      that allows you to refuse the setting of all or some cookies. However, if
      you use your browser settings to block all cookies (including essential
      cookies) you will not be able to access parts of our site.
