<% content_for :header_title, "Cookie policy" %>
<div class="container terms">
  <div class="span8">
    <p>
      Our website uses cookies to distinguish you from other users of our
      website. This helps us to provide you with a good experience when you
      browse our website and also allows us to improve our site. A cookie is a
      small file of letters and numbers that we store on your browser or the hard
      drive of your computer if you agree.
    </p>
    <p>
      Cookies contain information that is
      transferred to your computer’s hard drive. You can find more information
      about the individual cookies we use and the purposes for which we use them
      in the table below:
    </p>
    <table class="table cookies">
      <thead>
        <tr>
          <th width="30%">Name(s)</th>
          <th>Type</th>
          <th>Purpose</th>
          <th width="30%">Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <var>_open-data-certificate_session</var>
          </td>
          <td>Essential</td>
          <td>This cookie is used to maintain your session with the application.</td>
          <td>when you exit the browser</td>
        </tr>
        <tr>
          <td>
            <var>_remember_user_token</var>
          </td>
          <td>Functionality</td>
          <td>This cookie is used when you check the ‘remember me’ option when signing in, so that you don’t have to sign in every time you visit the site.</td>
          <td>2 weeks</td>
        </tr>
        <tr>
          <td>
            <var>_ga</var>
          </td>
          <td rowspan="6">Google analytics</td>
          <td rowspan="6">Google analytics uses this to report site usage</td>
          <td>2 years</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_gat</var>
          </td>
          <td>10 minutes</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utma</var>
          </td>
          <td>2 years</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utmb</var>
          </td>
          <td>30 minutes</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utmc</var>
          </td>
          <td>when you exit the browser</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utmz</var>
          </td>
          <td>6 months</td>
        </tr>
        <tr>
          <td>
            <var>_use_hitbox</var>
          </td>
          <td rowspan="2">YouTube</td>
          <td rowspan="2">These cookies are set by YouTube which we use to provide videos on some pages of the site.</td>
          <td>when you exit the browser</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_VISITOR_INFO1_LIVE</var>
          </td>
          <td>9 months</td>
        </tr>
        <tr>
          <td>
            <var>_cfduid</var>
          </td>
          <td>CloudFlare</td>
          <td>This cookie is used to protect our website from security threats and to boost its performance.</td>
          <td>28 days</td>
        </tr>
      </tbody>
    </table>
    <p>
      You can block these cookies by activating the setting on your browser
      that allows you to refuse the setting of all or some cookies. However, if
      you use your browser settings to block all cookies (including essential
      cookies) you will not be able to access parts of our site.
    </p>
  </div>
</div>
