- content_for :header_title, "Cookie policy"

.container.terms

  .span8

    %h2 When you use our site you allow us to store cookies to track behaviour and usage of the site

    %h3 These are the names of the cookies we use and their purpose

    %table.table.table-striped
      %thead
        %tr
          %th Name(s)
          %th Purpose
          %th Expires
      %tbody
        %tr
          %td
            %var _open-data-certificate_session
          %td Keeps you logged into your account
          %td On browser exit
        %tr
          %td
            %var _ga
          %td Google Analytics uses this to report site usage
          %td 2 years

    %p More info about cookies
