<% content_for :header_title, "Cookie policy" %>
<div class="container terms">
  <div class="span8">
    <p>„Cookie“ je krátký textový soubor, který – pokud to váš prohlížeč
    dovolí – ukládáme do vašeho počítače. Cookies používáme k tomu, abychom
    vás odlišili od ostatních návštěvníků, tedy aby se vám s webem lépe
    pracovalo a abychom ho mohli zlepšovat.</p>
    <p>Podrobné informace o cookies, které u vás ukládáme, a jejich účelu,
    najdete v následující tabulce:</p>
    <table class="table cookies">
      <thead>
        <tr>
          <th width="30%">Název</th>
          <th>Typ</th>
          <th>Účel</th>
          <th width="30%">Doba platnosti</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <var>_open-data-certificate_session</var>
          </td>
          <td>přihlašování</td>
          <td>Slouží pro vaše přihlášení k aplikaci.</td>
          <td>do zavření prohlížeče</td>
        </tr>
        <tr>
          <td>
            <var>_remember_user_token</var>
          </td>
          <td>přihlašování</td>
          <td>Používá se, když během přihlašování zaškrtnete možnost „Pamatovat
          přihlášení“, abyste se nemuseli při každé návštěvě přihlašovat znovu.</td>
          <td>2 týdny</td>
        </tr>
        <tr>
          <td>
            <var>_ga</var>
          </td>
          <td rowspan="6">Google Analytics</td>
          <td rowspan="6">Používá se pro sbírání statistik o webu.</td>
          <td>2 years</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_gat</var>
          </td>
          <td>10 minut</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utma</var>
          </td>
          <td>2 roky</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utmb</var>
          </td>
          <td>30 minut</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utmc</var>
          </td>
          <td>do zavření prohlížeče</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_utmz</var>
          </td>
          <td>6 měsíců</td>
        </tr>
        <tr>
          <td>
            <var>_use_hitbox</var>
          </td>
          <td rowspan="2">YouTube</td>
          <td rowspan="2">Tyto cookies nastavuje YouTube, který používáme pro přehrávání videa.</td>
          <td>do zavření prohlížeče</td>
        </tr>
        <tr class="cont">
          <td>
            <var>_VISITOR_INFO1_LIVE</var>
          </td>
          <td>9 měsíců</td>
        </tr>
        <tr>
          <td>
            <var>_cfduid</var>
          </td>
          <td>CloudFlare</td>
          <td>Používá se pro službu CloudFlare, která nás chrání před útoky
          a zvyšuje rychlost webu.</td>
          <td>28 dní</td>
        </tr>
      </tbody>
    </table>
    <p>Ukládání cookies (ať už některých, nebo všech) se dá vypnout ve vašem
    prohlížeči. Pokud ale zakážete ukládání všech cookies, je možné, že se na
    některé části tohoto webu nedostanete.</p>
  </div>
</div>
