<% content_for :header_title, 'Markdown Help' %>

<h4>Headers</h4>
<p class="help-block">Note that the page already has a top heading from the article name.</p>
<pre>## Top level sub-heading&#x000A;### Second level sub-heading</pre>

<h4>Text Styles</h4>
<pre>**This text will be bold**</pre>

<h4>Bulleted List</h4>
<pre>* item 1&#x000A;* item 2&#x000A;* item 3</pre>

<h4>Numbered List</h4>
<pre>1. item 1&#x000A;2. item 2&#x000A;3. item 3</pre>
<h4>Quotes</h4>
<p class="help-block">Start each paragraph with a <code>></code> like so:</p>
<pre>> Lorem ipsum dolor sit amet,&#x000A;consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.&#x000A;Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.&#x000A;&#x000A> Lorem ipsum dolor sit amet,&#x000A;consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.&#x000A;Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.</pre>

<h4>Tables</h4>
<pre>Fruit | Colour&#x000A;-|-&#x000A;apple | green&#x000A;banana | yellow</pre>

<h4>Links</h4>
<pre>[link text](http://www.example.com "Title text goes here")</pre>

<h4>Images</h4>
<pre>![Alt text](/path/to/img.jpg "Optional title")</pre>

<h4>Inline code</h4>
<pre>Here is some `code`</pre>

<h4>Code block</h4>
<p class="help-block">To produce a code block, simply indent every line of the block by at least 4 spaces or 1 tab</p>
<pre>    This is a code block.</pre>
