- content_for :header_title, t("overview.heading_overview")

.container.about
	.span8
		%h1 What do you need to do to get an Open Data Certificate?

		%p Before you sit down to fill in the Open Data Certificate questionnaire, you need to understand what you'll need to know to complete it. Or if you're just starting an open data project, you need to know what to aim for. This guide outlines what you need to do and what evidence you will need to collect to achieve a particular level.

		%h2.kitemark1 Raw Certificate

		%p A raw certificate is for open data that meets the basic requirements of open data, namely that it's available and that people can (legally) use it. To get a certificate, you must provide:

		%ul
			%li a title for the open data
			%li the name of the publisher

		%p and the things described in the following sections.

		%h3 Legal Requirements

		%p Determine that you have the legal right to publish the data you are publishing. If you are the primary source of the data, this should be easy. In other cases, working out your right to publish may be more complicated.

		%ul
			%li If you are using data from elsewhere, you may have to check the licence of that data to make sure that you can republish it or the data you have derived from it. If it's open data, you're OK.
			%li If you are crowdsourcing data, you may have to check that the contributors to that data have given you permission to reuse it through a <a href="http://en.wikipedia.org/wiki/Contributor_License_Agreement">Contributor Licence Agreement</a>.
			%li If the rights are complicated or unclear, for example because the data includes other data which hasn't been clearly licensed itself, you can still get a certificate at the raw level.
			%li There is more guidance in the <a href="http://theodi.org/guides/publishers-guide-open-data-licensing">ODI's Publisher's Guide to Licensing</a>. If in doubt, consult a lawyer.

		%p Publish the data under an open licence or place it into the public domain with a waiver. We recommend using an existing open data licence. If you create your own licence, you must get it approved by the <a href="http://opendefinition.org/advisory-council/">Open Definition Advisory Council</a> to check that it is an open licence.

		%p If there are any rights in the content of the data (for example if it contains descriptions that someone has written) then the content must be licensed under an open licence as well.

		%h3 Technical Requirements

		%p Reusers must be able to find your data. The easiest way to do this is to have a web page that describes your data, such as a web page on a repository like <a href="http://data.gov.uk/">data.gov.uk</a>. If you don't have a general web page for the data, what you need to do depends on how you are publishing it:

		%ul
			%li If you are publishing a one-off release of a single dataset, there should be a URL from which the dataset can be downloaded.
			%li 
				If you are publishing a series of datasets, you should have one or more of:
				%ul
					%li a fixed URL from which the current version can always be downloaded
					%li a URL pattern that developers can use to work out the URL for a given dataset in the series
					%li a list of the releases provided in a machine-readable way
			%li If you are publishing an API, you should have a URL that is the endpoint for that API at which a description of the API is published

		%h2.kitemark2 Pilot Certificate

		%p A pilot certificate has a number of additional requirements that are aimed at ensuring a pilot release of open data is successful.

		%p To get a pilot certificate, you must have a web page that describes the data, which can be a web page on a repository such as <a href="http://data.gov.uk/">data.gov.uk</a>.

		%h3 Legal Requirements

		%p If your right to publish the data is complicated or unclear, then to get a pilot certificate you must publish a document that describes the risks that reusers of the data would be taking on. For example, is there a risk of the data being removed because of a legal challenge?

		%p If the data originally comes from elsewhere, you must publish a document that describes where the data comes from. This helps people who are looking at the data to understand it and how much to trust it.

		%p You must publish a rights statement that describes any copyright or database rights in the data, how it's licensed and what kind of attribution people should give when they use the data. Without this being stated explicitly it's hard for people to have confidence reusing the data.

		%p If you are releasing data from which individuals could be identified (perhaps in combination with extra information available elsewhere), you must also make sure that you have addressed any privacy impact that releasing the data might have. That means:

		%ul
			%li only publishing personal data if it is anonymised, unless you are required or permitted by law to publish it
			%li performing a risk assessment around the release of the data

		%p and if you have data protection laws like those in Europe:

		%ul
			%li publishing the privacy notice that individuals affected by the data consented to
			%li consulting with the person within your organisation who is responsible for data protection

		%h3 Practical Requirements

		%p If you are publishing data that might go out of date, make sure that it contains timestamps against each data point. That ensures that people reusing the data don't unintentionally use out-of-date information.

		%p If you are publishing a series of datasets over time:

		%ul
			%li the delay between creating a dataset and publishing that dataset shouldn't be longer than the gap between releases; for example if there's a new release each month, the data in that release shouldn't be more than a month out of date
			%li if the underlying data changes frequently (ie at least daily) then you should create a new release every month or more frequently

		%p If you provide an API to access the data, and you are publishing dumps of the data as well, then you should create a new dump every month (or more frequently). This means that people who want to get hold of the whole set of data can get hold of a dump that isn't too out of date.

		%p You must consider how long you intend to publish the data for. For a pilot certificate, you should intend for the data to be available in the same form for at least a year. If it's not going to be available for at least a year, it's unlikely any reuser will invest time using it except in proofs of concept.

		%h3 Technical Requirements

		%p If you are publishing a one-off release of a dataset, you must be able to provide a URL that directly links to that dataset so that it can be downloaded.

		%p If you are publishing a series of datasets, the URLs for the datasets in the series should follow a consistent pattern so that people can guess at the URL for a particular month (for example) or create a script that downloads them all.

		%p To get a pilot certificate, the data must be published in a machine-readable format. Further:

		%ul
			%li if you are publishing <strong>documents</strong> these must be published in a format that's meant for documents (which can include Word, OpenOffice or PDF at the pilot level)
			%li if you are publishing <strong>statistics</strong> the data must be published in a format that's meant for tabular data (which can include Excel at the pilot level)
			%li if you are publishing <strong>geographical data</strong> or any other kind of structured data, it must be published in a structured data format (which can include JSON, XML or CSV at the pilot level)

		%h3 Social Requirements

		%p To get a pilot certificate, you must provide some technical documentation about the data to help people understand it. You will be asked for the URL for this documentation.

		%p You must also provide instructions so that people can contact you:

		%ul
			%li with any questions that they have about the data
			%li to suggest improvements to how you publish the data
			%li to raise any concerns about the disclosure of personal details

		%p You will be asked for URLs for pages that describe how to get in contact with someone in each of these cases; that can be a direct email address or a web form.

		%h2.kitemark3 Standard Certificate

		%p A standard certificate is aimed at data that is being published as a business-as-usual activity. This should enable other people to rely on its consistent availability, so that they can build products and services that use the data.

		%h3 Legal Requirements

		%h4 Rights

		%p You must have a clear legal right to make the data available as open data. At the standard level you should have resolved any ambiguities about your rights over the data so that others can reuse it without exposing themselves to any legal risks.

		%p If not all the data was originally created or gathered by you, you must provide a machine-readable list of the sources of the data. This can be done using RDFa within the web page where you describe those sources (as required for the pilot level certificate), or as a separate document.

		%h4 Licensing

		%p Even if there aren't any rights in the content of the data (for example because it just contains facts and numbers) you should explicitly indicate that the content is public domain. This helps to remove ambiguity for reusers.

		%p You must provide machine-readable metadata about:

		%ul
			%li the licence the data is available under
			%li the licence the content of the data is available under
			%li what attribution text should be used for the data (even if you don't require attribution within the licence that you're using)
			%li what link to use when providing attribution for this data

		%p Providing this in a machine-readable form enables automated aggregation and attribution of data.

		<!-- You can use the <a href="TODO">Rights Statement Vocabulary</a> to express this information. TODO: link to Leigh's tool? -->

		%h4 Privacy

		%p If the data that you're publishing has been anonymised through aggregating data (so that individuals can't be distinguished from other people within their group) you must have that anonymisation process independently audited to ensure that people's privacy is protected.

		%p If the data that you're publishing is about individuals:

		%ul
			%li If you have a legal right to publish it (for example because you are publishing a public register that is defined by law), you must publish a document that describes that legal right. This helps justify the publication both to people who want to use the data you're publishing and the individuals whose details are given in the data.
			%li You must publish your assessment of the impact of publishing the data on the privacy of the affected individuals.
			%li You must have your risk assessment independently audited to make sure that it's taken into account all the possible impacts.
			%li You must have your anonymisation process audited independently to make sure that there is no inadvertent disclosure of more personal information than intended.

		%h3 Practical Requirements

		%h4 Findability

		%p You must link to the data from somewhere on your organisation's website, so that people can find it. We recommend linking to it from pages that are relevant for the topic area of the data. To get a standard certificate you'll need to be able to provide at least one URL on your website from which there's a link to the data.

		%p The data must appear within a list of similar data: this might be a repository such as <a href="http://data.gov.uk/">data.gov.uk</a> or it could simply be that the data appears alongside other similar datasets with a relevant search term on Google. To get a standard certificate you'll need to be able to provide at least one URL that demonstrates this.

		%p You must reference the data from publications, whether they are reports or blog posts. To get a standard certificate you'll need to be able to provide the URL of at least one document that references the data.

		%h4 Accuracy

		%p You can only get a standard level certificate for a one-off release of either a single dataset or a collection of datasets, or an API operating over a static set of data, if the data never goes out of date. For example, the results of an experiment will never go out of date, but the locations of bus stops will and should therefore that data must be updated regularly to get a standard level certificate.

		%p If you are publishing a series of datasets over time, the delay between creating a dataset and publishing that dataset shouldn't be more than half the gap between releases; for example if there's a new release each month, the data in that release shouldn't be more than two weeks out of date. This helps to ensure that people work with up-to-date data.

		%p If you are publishing an API, you must provide downloads of all the data behind that API in order to get a standard level certificate. At the standard level of the certificate, new dumps must be created within a week of any change to the data. If the data can be changed, you must also commit to correcting any errors that people find within the data.

		%h4 Quality

		%p You must provide documentation about any known issues with the quality of the data that you are publishing. This enables people who want to reuse it to make informed judgements about how much to trust the data.

		%h4 Guarantees

		%p You must take a regular offsite backup of the data. It is good practice for this to be a public backup (perhaps hosted by another organisation for you) in case access to your website is interrupted.

		%p If you are providing an API, you must provide some documentation that informs people using that API what to expect in terms of service availability. For example, what guarantees can you give about the uptime of the service, what rate limiting do you do, and how long are outages likely to last? You will need to give the URL of a document that describes the service level that you are providing.

		%p For a standard certificate, publication of the data must be a business-as-usual activity; you must ensure that its continued publication is incorporated into your medium-term plans.

		%h3 Technical Requirements

		%h4 Locations

		%p If you are publishing a series of datasets, you must: 

		%ul
			%li Have a single URL from which people can always download the most recent issue of the dataset. This could be a redirection to the dated URL for the dataset, for example.
			%li Have a machine-readable document that lists all the available releases of the data. This helps people to get hold of all of them without having to guess at URLs.

		%p If you are publishing an API, you must:

		%ul
			%li Provide a machine-readable service description document or entry point for the API. This enables applications to detect and adjust to changes in the API which are likely to happen over time.
			%li You must also provide a single URL from which people can always download the most recent dump of the underlying data.

		%h4 Formats

		%p You must publish your data using a standard open format such as XML, CSV or JSON. Further:

		%ul
			%li if you are publishing documents, these must use a semantic data format designed for documents, such as HTML, Docbook or Markdown
			%li if you are publishing statistics, these must be available in a standard tabular data format such as CSV or in a format specifically designed for statistics

		%p The data must include identifiers for the things described by the data. It must be possible to find out more data about those identifiers either by resolving them using an online service or by resolving them as URLs. These help to ensure that data about the same things can be merged together.

		%h3 Social Requirements

		%h4 Documentation

		%p You must provide machine-readable metadata about the data, for example using <a href="http://www.w3.org/TR/vocab-dcat/">DCAT</a> with RDFa, including:

		%ul
			%li the title of the data
			%li a description of the data
			%li the release date of the data
			%li its modification date
			%li how frequently the data is updated
			%li an identifier for the data
			%li a pointer to a landing page for the data
			%li the language of the data
			%li the publisher of the data
			%li the spatial/geographical coverage of the data
			%li the temporal coverage of the data
			%li a theme for the data
			%li keywords or tags for the data

		%p If you provide machine-readable metadata about individual files, these must include:

		%ul
			%li the title of the file
			%li a description of the file
			%li a release date for the file
			%li its modification date
			%li a link to the rights statement related to the data

		%p If the data format that you are using is a generic data format that uses a data vocabulary (such as names of columns in CSV or properties in JSON), you must provide documentation about the vocabularies that are used in the data. Similarly, if the data contains codes you must provide documentation about what those codes mean. This helps ensure that people using the data interpret it correctly.

		%h4 Support

		%p You must use social media to connect with people about the data, and be able to list social media accounts that you use, for example on Twitter or Facebook.

		%p You must have a designated place where people can discuss how to use the data; to get a standard level certificate you must be able to provide the URL of the page that tells people about that forum or mailing list.

		%p If the data can be corrected over time, you must:

		%ul
			%li Provide instructions for people about how to inform you about corrections that need to be made; to get a standard level certificate you must be able to provide the URL of a page that describes how to report errors in the data.
			%li Provide a mailing list or a feed that people can subscribe to to be notified about corrections to the data; you must be able to point to a page that describes how to subscribe to notifications about changes.
			
		%h2.kitemark4 Expert Certificate

		%p An expert-level certificate is designed for core reference data: data that a lot of other datasets will reference to provide further information about the things that they provide information about. The expert-level requirements reflect the importance of this information.

		%h3 Legal Requirements

		%p As well as the machine-readable information in the rights statement that you must supply to get a standard level certificate, you must also provide machine-readable versions of:

		%ul
			%li a copyright notice or statement
			%li the copyright year
			%li the copyright holder

		%p and in jurisdictions that include database rights:

		%ul
			%li the database right year
			%li the database right holder

		%p Having this information in a machine-readable form enables automatic construction of citations for the data.

		%h3 Practical Requirements

		%p If you are publishing a series of datasets, you should have minimal or no delay between when you create or gather the data and when you publish it. Similarly, if you are providing an API you should make sure that you create a new dump of the underlying data within a day of any change to that data. This ensures that other people use data that is as up to date as possible.

		%p You must provide some documentation about how you ensure the quality of the data you are publishing. This helps people reusing the data to judge how much to trust it.

		%p If you are providing an API over the data, you must provide a service status page that provides information about the current status of the service. This enables API users to learn about both anticipated and unplanned outage.

		%p Data at the expert level of the certificate should be an essential part of the operation of your organisation; you should be able to provide a guarantee that it will continue to be available for a long time.

		%h3 Technical Requirements

		%p If you are providing an API, you must:

		%ul
			%li provide database dumps at dated URLs, so that it's possible for people to download a series of those dumps (perhaps for comparison purposes)
			%li provide a list of the available database dumps in a machine-readable form such as a feed

		%p You should help people reusing your data by enabling them to process it with existing tools which are based on open standards:

		%ul
			%li if you are publishing statistical data, you must publish it in a standard statistical data format (possibly alongside other formats) such as <a href="http://sdmx.org/">SDMX</a> or <a href="http://www.w3.org/TR/vocab-data-cube/">Data Cube</a> which exposes the underlying structure of dimensions, measures and attributes
			%li if you are publishing geographical data, you must publish it in a standard geographical data format (possibly alongside other formats) such as <a href="http://www.opengeospatial.org/standards/kml/">KML</a> or <a href="http://www.geojson.org/">GeoJSON</a>

		%p You must use URLs as identifiers within your data, and those URLs must resolve to further information about the things that are being identified. If there are reliable third-party URLs that you can use, you must use them rather than making up your own URLs for those things. Reusing URLs as identifiers helps people to link together different data and therefore get more value from it.

		%p You must provide a machine-readable provenance trail that describes how the data has been created and processed. You can do this with the open standard <a href="http://www.w3.org/TR/prov-primer/">PROV</a>. This is particularly important if the data you're publishing is derived from other data, and it means people can understand where the data comes from and therefore how much to trust it.

		%p You must also provide a mechanism for people who are reusing the data, perhaps having received it from third parties, to validate that what they have received is what you originally published. For example, you might digitally sign the data or provide an MD5 hash that people can check to see whether it has been tampered with.

		%h3 Social Requirements

		%p You must have a person or team who actively tries to build a community around using the data. To get an expert-level certificate, you will need to provide a link to their home page.

		%p You must publish a list of software tools and libraries that can be used with the data, whether those are created yourself or by other people. This helps give people a head start in using the data.