- content_for :header_title, "Privacy policy"

.container.terms

  .span8
    :markdown
    
      At times we may collect and process your personal information; this, along with the tools we use, is standard among many sites. We do respect, and aim to protect, your privacy.

      ## What we collect

        - We collect personal data that you send us by email and/or when you fill in online forms.
        - We collect data about your computer, such as your IP address, operating system and web browser, and the pages that you visit (this is about your browsing actions and patterns, and does not identify you).
        - Our website uses cookies to tell you apart from other users when we look at how people use the site. For more information on the cookies we use and why we use them please see our [cookie policy](/cookie-policy).

      ## How we use this information
