<% content_for :header_title, "Privacy policy" %>
<div class="container terms">
  <div class="span8">
      <h2 id="what-we-collect">Co sbíráme za data?</h2>

      <p>Sbíráme osobní data, která nám posíláte e-mailem nebo vyplníte v online
      formulářích.</p>

      <p>Sbíráme data o vašem počítači, například vaši IP adresu, typ operačního
      systému a webového prohlížeče, a adresy stránek, které u nás navštívíte.
      U všech těchto informací nám jde o sbírání statistik; na základě těchto
      dat vás nelze jednoznačně identifikovat.</p>

      <p>Nás web používá takzvané cookies, pomocí kterých vás rozeznáme od jeho
      ostatních uživatelů. Více informací o cookies a jejich využití na tomto webu
      najdete v našem prohlášení o cookies.</p>

      <h2 id="how-we-use-this-information">Jak tyto informace používáme?</h2>

      <p>Vaše osobní údaje použijeme, abychom vás kontaktovali, když si o to
      sami řeknete, případně abychom vám poskytli informace, které podle nás
      chcete.</p>

      <p>Vaše osobní údaje neposkytneme žádné třetí straně, s výjimkou případů,
      kdy nám k tomu sami dáte svolení, kdy nám to přikazuje zákon, nebo když je
      to potřeba pro dodržování podmínek použití tohoto webu.</p>

      <p>Pokud od vás budeme chtít nějaká data k marketingovým účelů, informujeme
      vás o tom předem. Pokud s takovým využitím svých dat nesouhlasíte, můžete
      nám kdykoliv napsat na <a href="mailto:datacontroller@theodi.org">datacontroller@theodi.org</a>.</p>

      <p>Data, která od vás získáme, mohou být uložena mimo Evropský hospodářský prostor.</p>

      <h2 id="other-caveats">Jiné podmínky</h2>

      <p>V rámci ověření a správy vašeho účtu můžeme sdílet vaše osobní data
      s vaším zaměstnavatelem.</p>

      <p>Pokud vás odkaz odvede z našeho webu jinam, naše pravidla pro ochranu
      osobních údajů už se na vás nevztahují. Nemůžeme také zaručit bezpečnost
      a důvěrnost vašich dat během přenosu k nám.</p>

      <p>Jakékoliv budoucí změny v těchto pravidlech budou zveřejněny na této
      stránce nebo zaslány e-mailem.</p>

      <h2 id="contacts">Kontakt</h2>

      <p>Otázky, připomínky a požadavky týkající se těchto pravidel uvítáme na
      adrese <a href="mailto:datacontroller@theodi.org">datacontroller@theodi.org</a>.</p>

      <p>Odpovědnou institucí ve smyslu Zákona o ochraně dat (Data Protection Act, 1998)
      je Open Data Institute, 65 Clifton Street, Londýn, EC2A 4JE. Naším nominovaným
      zástupcem je Jeni Tennisonová.</p>
  </div>
</div>
