- content_for :header_title, "Privacy policy"

.container.terms

  .span8
    :markdown
    
      ## What we collect

      We collect personal data that you send us by email and/or when you fill in
      online form.

      We collect data about your computer, such as your IP address, operating system
      and web browser, and the pages that you visit (this is about your browsing
      actions and patterns, and does not identify you).

      Our website uses cookies to tell you apart from other users when we look at how
      people use the site. For more information on the cookies we use and why we use
      them please see our cookie policy.

      ## How we use this information

      We will only use your personal data to contact you in response to a request by
      you or to provide information that we think you may want.

      We will not give your personal data to third parties, unless you have given us
      permission, or we are required to do so by law, or to enforce our terms of use.

      We will inform you before collecting your data if we intend to use it for
      marketing purposes. At any time you can ask us not to process your
      personal data for such purposes by contacting us at
      <a href="mailto:datacontroller@theodi.org">datacontroller@theodi.org</a>.

      You can access your data under The Data Protection Act 1998 for a small
      administration fee.

      The data we collect from you may be stored and processed outside the European
      Economic Area.

      ## Open Data Certificates specific privacy policy terms

      We may share your personal data with your employer in order to validate and
      administer your account.

      ## Other caveats

      If you follow a link from our site to another you are no longer covered by our
      privacy policy.  We cannot guarantee the security of your data whilst in
      transmission to our site.

      Any changes we may make to our privacy policy in the future will be posted on
      this page or sent to you by e-mail.

      ## Contacts

      Questions, comments and requests regarding this privacy policy are welcomed and
      should be sent to
      <a href="mailto:datacontroller@theodi.org">datacontroller@theodi.org</a>.

      For the purpose of the Data Protection Act 1998 (the Act), the data controller
      is Open Data Institute of 65 Clifton Street, London, EC2A 4JE. Our nominated
      representative for the purpose of the Act is Jeni Tennison.
