<% content_for :header_title, "Terms of Use" %>
<div class="container terms">
  <div class="span8">
    <h2>Používáním tohoto webu souhlasíte s následujícími podmínkami</h2>
    <h3>Chovejte se prosím zodpovědně</h3>
    <ul>
      <li>Neposílejte ani nenahrávejte žádný materiál, který by někoho zjevně
      urážel, pomlouval nebo jinak poškozoval.</li>
      <li>Nepoužívejte web způsobem, který by negativně ovlivňoval jeho
      provozovatele nebo jakoukoliv třetí stranu.</li>
      <li>Neposílejte žádný nevyžádaný nebo neautorizovaný reklamní obsah,
      propagační materiály nebo spam.</li>
      <li>Nesnažte se získat nedovolený přístup do naší sítě, na náš web nebo servery.</li>
      <li>Web záměrně nepřetěžujte.</li>
    </ul>
    <p>Je na vaší odpovědnosti, aby každý uživatel vašeho internetového připojení
    tato pravidla znal a dodržoval. Pokud se tak nestane, můžeme vám zablokovat
    přístup k této aplikaci, podniknout právní kroky, požadovat po vás náhradu
    vynaložených nákladů a oznámit vše příslušným úřadům.</p>
    <h3>Záruky</h3>
    <ul>
      <li>Vyhrazujeme si právo rozšiřovat nebo naopak zmenšovat rozsah
      poskytovaných služeb, a to bez předchozího upozornění.</li>
      <li>Web je pravidelně aktualizován, ale některé jeho části mohou být
      zastaralé nebo nepřesné.</li>
      <li>Nejsme zodpovědní za komentáře a jiné materiály, které na náš web
      vkládají třetí strany.</li>
      <li>Zříkáme se jakékoliv odpovědnosti za rady na tomto webu.</li>
      <li>Všechny weby třetích stran, na které odkazujeme, jsou mimo naši kontrolu.</li>
      <li>Tento web je naším autorským dílem. Než některou z jeho částí použijete
      jinde, konzultujte prosím licenci pro danou stránku nebo materiál.</li>
    </ul>
    <h3>Záruky specifické pro certifikáty otevřených dat</h3>
    <ul>
      <li>Za informace uváděné u jednotlivých certifikátů nesou odpovědnost
      jejich autoři, my je neověřujeme a nijak negarantujeme jejich
      přesnost.</li>
      <li>Vyhrazujeme si právo kdykoliv zrušit platnost libovolného certifikátu.</li>
      <li>Odznáček certifikátu je chráněná značka, na jiné webové stránky se smí
      vkládat pouze pomocí námi poskytnutého kódu.</li>
      <li>Pokud si autor certifikátu u nás nevytvoří účet, jím založené nedokončené
      certifikáty mažeme.</li>
    </ul>
    <h4>Do maximální míry povolené zákonem se zříkáme zejména:</h4>
    <ul>
      <li>Veškerých podmínek a záruk, které by jinak mohly být dány zákonem.</li>
      <li>Jakékoliv odpovědnosti za ztráty nebo škody způsobené libovolným
      uživatelem ve spojení s naším webem nebo weby odsud odkazovanými a
      libovolným materiálem zde umístěným.</li>
      <li>Jakékoliv odpovědnosti za ztráty nebo škody způsobené útoky na dostupnost
      služby, viry nebo jiným škodlivým softwarem, který by mohl infikovat váš počítač,
      aplikace, data nebo jiné proprietární materiály v souvislosti s vaším používáním
      toho webu nebo stahováním libovolných materiálů vystavených zde nebo na libovolné
      odkazované stránce.</li>
      <li>Jakékoliv odpovědnosti za porušování podmínek použití tohoto webu
      ze strany uživatelů.</li>
      <li>Jakékoliv odpovědnosti za kroky, které by bylo třeba podniknout
      v reakci na porušování těchto podmínek použití.</li>
    </ul>
    <p>Tyto podmínky použití mohou být kdykoliv upraveny změnou této stránky.
    Libovolná nich navíc může být nahrazena textem zveřejněným na jiné části tohoto
    webu. Provoz webu se řídí právním systémem Spojeného království.</p>
    <h3>Kontakt</h3>
    <p>Pokud máte k materiálům zveřejněným na tomto webu libovolný dotaz,
    kontaktujte nás, prosím:</p>
    <p>
      <%= mail_to('info@theodi.org', nil, :class => ['btn', 'btn-large', 'btn-primary']) %>
    </p>
  </div>
</div>
