- content_for :header_title, "Terms of Use"

.container.terms

  .span8

    %h2 When you use our site you agree to these terms of use.

    %h3 Please use the site responsibly

    %ul
      %li Do not send or upload any material which is derogatory, defamatory, or may reasonably cause offence.
      %li Do not use the site in a manner which adversely affects us or any third party.
      %li Do not send any unsolicited or unauthorised advertising or promotional material or any spam.
      %li Do not introduce programs or other material which is malicious or technologically harmful.
      %li Do not attempt to gain unauthorised access to our network, sites or servers.
      %li Do not attack our site via a denial-of-service attack.

    %p You are responsible and must ensure that everyone who accesses our site through your internet connection is aware of these terms, and that they comply with them. If they breach these terms of use, we may block your access to our site, take legal action and seek reimbursement of costs, and disclose information to law enforcement authorities.

    %h3 Warranties

    %ul
      %li We reserve the right to withdraw or amend the service we provide on our site without notice.
      %li Our site is updated regularly; sometimes parts of the site may be out of date or inaccurate.
      %li We are not responsible for commentary and other materials posted on our site by third parties.
      %li We disclaim all liability for reliance on our website for advice.
      %li Any third party website we link to is outside of our control.
      %li We own the intellectual property on this website; you should check the licence associated with the page or material before reusing it.


    %h3 Open Data Certificate specific warranties

    %ul
      %li Information given on a data certificate is the responsibility of its creator and we do not verify or guarantee the accuracy of it.
      %li We reserve the right to revoke a data certificate at any time.
      %li The data certificate badge/logo is licensed under ???
      %li Incomplete data certificate questionnaires are deleted from our server if the creator does not register for an account.

    %h4 To the extent permitted by law, we expressly exclude:

    %ul
      %li All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity
      %li Any liability for any loss or damage of any kind incurred by any user in connection with our site or any websites linked to it and any materials posted on it.
      %li Any liability for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any material posted on it, or on any website linked to it.
      %li Any liability for other users’ breach of the terms of use.
      %li Any liability for actions taken in response to breaches of these terms of use.

    %p We may revise these terms of use at any time by amending this page. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site. Our site is governed by English law.

    %h3 Contact

    %p
      If you have any questions about material which appears on our site, please contact:
    %p
      = mail_to('info@theodi.org', nil, :class => ['btn', 'btn-large', 'btn-primary'])
