-# Replace with a 'proper' 500 at some point
%p
  I'm sorry, but the server has experienced an error which means your request cannot be completed.
%p
  Your IP address of #{request.remote_ip}, and your login credentials have been logged, and emailed to our system
  administrator with details of the error, for them to investigate.
