.open-data-certificate {
  position: relative;

  img {
    width: 60px;
  }

  ul.open-data-certificate-details {
    display: none;
    position: absolute;
    left: 45px;
    bottom: -10px;
    z-index: 5000;
    min-width: 200px;
    text-align: left;

    li {
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 12px;
      display: block;
      margin: 1px 0;
      span {
        display: inline-block;
        background-color: black;
        color: white;
        padding: 0 2px;
      }
    }
  }

  &:hover ul.open-data-certificate-details {
    display: block;
  }
}