!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ODI Open Data Certificate
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body{:class => body_class}
    #embedded-certificate
      .container
        = yield
